<div class="h-full w-full  flex justify-center flex-col ">
    <div class="relative">
        <span id="off-chain-amount" class="block px-8 pt-8 text-center tracking-wide text-xs">
            CREDIT — 15 AE
        </span>
        <a href="#" class="no-underline text-pink-darkest text-2xl absolute pin-r pin-t py-6 px-8">
            ⁞
        </a>
    </div>
    <div class="flex-1 ">

    </div>
    <div class="bg-pink-darkest  ">
        <a href="#" class="no-underline text-teal-lightest block p-8 text-center tracking-wide text-xs">
            ORDER A FREE COFFEE!
        </a>

    </div>

</div>