<div id="loader-wrapper" class="all-frames hide-me">

    <div class="h-full w-full  flex justify-center flex-col ">
        <div class="relative">
            <span class="block px-8 pt-8 text-center tracking-wide text-xs">
                    CREDIT — 15 AE
            </span>
            <a href="#" class="no-underline text-pink-darkest text-2xl absolute pin-r pin-t py-6 px-8">
                    ⁞
            </a>
        </div>
        <div class="flex-1 ">
            
        </div>
        <div class="bg-pink-darkest  ">
            <a href="#" class="no-underline text-teal-lightest block p-8 text-center tracking-wide text-xs">
                    ORDER A COFFEE!
            </a>
        </div>
    </div>

    <div class="absolute pin flex justify-center">
        <div class="m-6 w-full bg-white shadow-lg flex justify-center flex-col">
                <div class="relative justify-center m-auto">
                        
                    
                        
                        <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
                          <circle id="loading-inner" cx="75" cy="75" r="60"/>
                       </svg>
                </div>
                <div class="relative justify-end">
                    <div class="mx-5  text-teal  pb-8 text-center tracking-wide text-xs ">
                        ...
                    </div>
                </div>  
        </div>

    </div>
</div>